In [32]:
%reload_ext sql
from sqlalchemy import create_engine
%sql postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood
engine = create_engine('postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood')

## Cleaning Table 'es_map'

In [ ]:
%%sql
ALTER TABLE IF EXISTS es_map
ADD COLUMN clean_cooking_application_new character varying(10);

In [34]:
%%sql
UPDATE es_map
SET clean_cooking_application_new = CASE 
                                    WHEN clean_cooking_application IS NULL THEN 'FALSE' ELSE 'TRUE' END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
359 rows affected.

[]

In [ ]:
%%sql
ALTER TABLE IF EXISTS es_map
ADD COLUMN country character varying(50);

In [36]:
%%sql
UPDATE es_map
SET country = Trim(SPLIT_PART(mapper, ' ',2))
WHERE mapper LIKE 'Acc%';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
314 rows affected.

[]

In [37]:
%%sql
UPDATE es_map
SET country = 'India'
WHERE mapper NOT LIKE 'Acc%';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
45 rows affected.

[]

In [38]:
%%sql
UPDATE es_map
SET purpose_translated = NULL
where purpose_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
12 rows affected.

[]

In [39]:
%%sql
UPDATE es_map
SET solution_diffused_user_feedback_translated = NULL
where solution_diffused_user_feedback_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
256 rows affected.

[]

In [40]:
%%sql
UPDATE es_map
SET benchmarks_efficiency_translated = NULL
where benchmarks_efficiency_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
301 rows affected.

[]

In [41]:
%%sql
UPDATE es_map
SET bottlenecks_translated = NULL
where bottlenecks_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
306 rows affected.

[]

El campo 'diy_open_source' y 'ip' son campos especiales que mutuamente excluyentes, es decir si uno es TRUE el otro es FALSE. El tercer caso es que el mapper no completara la opcion.

In [42]:
%%sql 
UPDATE es_map
SET diy_open_source = 'TRUE'
WHERE diy_open_source = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
100 rows affected.

[]

In [43]:
%%sql 
UPDATE es_map
SET ip = 'TRUE'
WHERE ip = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
41 rows affected.

[]

In [44]:
%%sql 
UPDATE es_map
SET diy_open_source = 'FALSE'
WHERE ip = 'TRUE';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
41 rows affected.

[]

In [45]:
%%sql 
UPDATE es_map
SET ip = 'FALSE'
WHERE diy_open_source = 'TRUE';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
99 rows affected.

[]

In [46]:
%%sql 
UPDATE es_map
SET ip = 'UNKNOWN', diy_open_source = 'UNKNOWN'
WHERE diy_open_source IS NULL AND ip IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
219 rows affected.

[]

In [47]:
%%sql
UPDATE es_map
SET training_avaiability = 
            CASE WHEN training_avaiability = 'x' THEN 'TRUE' 
            ELSE 'FALSE' END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
359 rows affected.

[]

El campo 'product' y 'prototipe' son campos especiales que mutuamente excluyentes, es decir si uno es TRUE el otro es FALSE. El tercer caso es que el mapper no completara la opcion por lo tanto se le asigna un valor de UNKNOWN.

In [48]:
%%sql 
UPDATE es_map
SET product = 'TRUE', prototype = 'FALSE'
WHERE product = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
124 rows affected.

[]

In [49]:
%%sql 
UPDATE es_map
SET product = 'FALSE', prototype = 'TRUE'
WHERE prototype = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
69 rows affected.

[]

In [50]:
%%sql 
UPDATE es_map
SET product = 'UNKNOWN', prototype = 'UNKNOWN'
WHERE product IS NULL AND prototype IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
166 rows affected.

[]

chequear si algunos campos son utiles para el analisis.

In [53]:
%%sql
SELECT count(*)
FROM es_map
WHERE product_avaiable_in_market IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(295,)]

In [54]:
%%sql
SELECT count(*)
FROM es_map
WHERE product_order_in_advance IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(298,)]

In [55]:
%%sql
SELECT count(*)
FROM es_map
WHERE trl IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(233,)]

In [56]:
%%sql
SELECT count(*)
FROM es_map
WHERE solution_diffused_user_feedback IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(255,)]

In [57]:
%%sql
SELECT count(*)
FROM es_map
WHERE benchmarks_efficiency IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(301,)]

In [58]:
%%sql
SELECT count(*)
FROM es_map
WHERE bottlenecks IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(306,)]

In [59]:
%%sql
SELECT count(*)
FROM es_map
WHERE unit_cost IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(286,)]

Los campos de unit_cost, solution_diffused_user_feedback, trl, product_order_in_advance, product_avaiable_in_market, benchmarks_efficiency y bottlenecks no seran considerados para el analisis.