### Data Cleaning
- Reviewing the database's tables, it is evident that key fields, which are necessary for analysis, need to be cleaned up.

#### database conexion

In [2]:
%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood
engine = create_engine('postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood')

### table 'es_map'
- It is necessary to create a `country` column in the `es_map` table, which will be derived from the `mapper` column. The previous treatment done to the database has also resulted in the need to change to `NULL` all the values that are present as `#VALUE!` across all translated fields. 
- For the columns `clean_cooking_application_new`, `diy_open_source`, `ip`, `training_availability`, `product`, and `prototype`, set a logic of `TRUE` or `FALSE`. There is a mutual exclusion between the `diy_open_source` and `ip` fields, so if neither is answered, `UNKOWN` will be placed. The same applies to the fields `product` and `prototype`.

In [ ]:
%%sql
ALTER TABLE IF EXISTS es_map
ADD COLUMN clean_cooking_application_new character varying(10);

In [34]:
%%sql
UPDATE es_map
SET clean_cooking_application_new = CASE 
                                    WHEN clean_cooking_application IS NULL THEN 'FALSE' ELSE 'TRUE' END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
359 rows affected.

[]

In [ ]:
%%sql
ALTER TABLE IF EXISTS es_map
ADD COLUMN country character varying(50);

In [36]:
%%sql
UPDATE es_map
SET country = Trim(SPLIT_PART(mapper, ' ',2))
WHERE mapper LIKE 'Acc%';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
314 rows affected.

[]

In [37]:
%%sql
UPDATE es_map
SET country = 'India'
WHERE mapper NOT LIKE 'Acc%';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
45 rows affected.

[]

In [38]:
%%sql
UPDATE es_map
SET purpose_translated = NULL
where purpose_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
12 rows affected.

[]

In [39]:
%%sql
UPDATE es_map
SET solution_diffused_user_feedback_translated = NULL
where solution_diffused_user_feedback_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
256 rows affected.

[]

In [40]:
%%sql
UPDATE es_map
SET benchmarks_efficiency_translated = NULL
where benchmarks_efficiency_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
301 rows affected.

[]

In [41]:
%%sql

UPDATE es_map
SET bottlenecks_translated = NULL
where bottlenecks_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
306 rows affected.

[]

In [42]:
%%sql 

UPDATE es_map
SET diy_open_source = 'TRUE'
WHERE diy_open_source = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
100 rows affected.

[]

In [43]:
%%sql 

UPDATE es_map
SET ip = 'TRUE'
WHERE ip = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
41 rows affected.

[]

In [44]:
%%sql 
UPDATE es_map
SET diy_open_source = 'FALSE'
WHERE ip = 'TRUE';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
41 rows affected.

[]

In [45]:
%%sql 
UPDATE es_map
SET ip = 'FALSE'
WHERE diy_open_source = 'TRUE';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
99 rows affected.

[]

In [46]:
%%sql 
UPDATE es_map
SET ip = 'UNKNOWN', diy_open_source = 'UNKNOWN'
WHERE diy_open_source IS NULL AND ip IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
219 rows affected.

[]

In [47]:
%%sql
UPDATE es_map
SET training_avaiability = 
            CASE WHEN training_avaiability = 'x' THEN 'TRUE' 
            ELSE 'FALSE' END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
359 rows affected.

[]

In [48]:
%%sql 
UPDATE es_map
SET product = 'TRUE', prototype = 'FALSE'
WHERE product = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
124 rows affected.

[]

In [49]:
%%sql 
UPDATE es_map
SET product = 'FALSE', prototype = 'TRUE'
WHERE prototype = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
69 rows affected.

[]

In [50]:
%%sql 
UPDATE es_map
SET product = 'UNKNOWN', prototype = 'UNKNOWN'
WHERE product IS NULL AND prototype IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
166 rows affected.

[]

#### Check whether some fields are useful for analysis.

In [3]:
%%sql

SELECT count(*)
FROM es_map
WHERE product_avaiable_in_market IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(295,)]

In [54]:
%%sql
SELECT count(*)
FROM es_map
WHERE product_order_in_advance IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(298,)]

In [55]:
%%sql
SELECT count(*)
FROM es_map
WHERE trl IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(233,)]

In [56]:
%%sql
SELECT count(*)
FROM es_map
WHERE solution_diffused_user_feedback IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(255,)]

In [57]:
%%sql
SELECT count(*)
FROM es_map
WHERE benchmarks_efficiency IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(301,)]

In [58]:
%%sql
SELECT count(*)
FROM es_map
WHERE bottlenecks IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(306,)]

In [59]:
%%sql
SELECT count(*)
FROM es_map
WHERE unit_cost IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(286,)]

##### The fields `unit_cost`, `solution_diffused_user_feedback`, `trl`, `product_order_in_advance`, `product_avaiable_in_market`, `benchmarks_efficiency` y `bottlenecks` will not be considered in the analysis.

### Cleaning link_img table
- In this table, all the images provided by the stakeholder have been uploaded to a cloud repository to facilitate the creation of visualizations. In order to accomplish this, a `img` column must be created and filled with the data embedded in each image's link.

In [60]:
%%sql
ALTER TABLE IF EXISTS link_img
ADD COLUMN img character varying(10);

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
Done.

[]

In [61]:
%%sql
UPDATE link_img
SET img=
        split_part(
            split_part(
                link_img,'/',5),'.',1);

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
560 rows affected.

[]

#### Check whether some fields are useful for analysis.

In [62]:
%%sql
SELECT img, count(*)
FROM link_img
GROUP BY 1
HAVING count(*) >1;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
0 rows affected.

[]

In [63]:
%%sql
SELECT count(*)
FROM link_img
WHERE img IS NULL;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
1 rows affected.

[(0,)]

### Cleaning solution_img table
- Aca solo se modificó el campo `img` para la extraccion del texto exclusivo de la imagen que permita hacer referencia directa entre la tabla `es_map` y la tabla `link_img`

In [65]:
%%sql

UPDATE solution_img
SET img = trim(
            split_part(
                img, ' ',2));

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
463 rows affected.

[]

### Cleaning thematic_tags table
- As a result of observation of the fields in this table, it can be seen that many synonyms and typing errors are mentioned, which may adversely affect the analysis. This table can provide additional information when doing a deeper analysis. Thus, a new column `new_tag` will be created to allow homologation between the various tags and reduce unnecessary noise.

In [71]:
%%sql

ALTER TABLE IF EXISTS thematic_tags
ADD COLUMN new_tag character varying(50);

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
Done.

[]

Identificar las tags que resulten redundantes y unificarlas.

In [75]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN thematic_tag 
            IN ('energy', 
                'clean energy', 
                'alternative energy', 
                'reneweable energy', 
                'renewable energy', 
                'sustainable energy')
            THEN 'clean energy' 
            ELSE thematic_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [87]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%cook%'
            THEN 'clean cooking' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [78]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag 
            IN ('energy saving', 
                'energy efficiency', 
                'saving cost',
                'efficiency',
                'energy efficent')
            THEN 'energy saving' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [80]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%wast%' 
            THEN 'waste management' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [82]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%food%' 
            THEN 'food security' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [83]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%bio%' 
            THEN 'biotechnology' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [84]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%elect%' 
            THEN 'electricity' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [86]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%wom%' 
                OR new_tag like '%ineq%' 
                OR new_tag like '%gend%'  
            THEN 'gender equality' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [88]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%env%' 
            THEN 'environment friendly' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [89]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%wind%' 
            THEN 'wind energy' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [90]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%water%' 
            THEN 'clean water' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

In [91]:
%%sql
UPDATE thematic_tags
SET new_tag = 
    CASE WHEN new_tag like '%agri%' 
            THEN 'sustainable agriculture' 
            ELSE new_tag END;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]

## Descargar data limpia

In [92]:
%%sql 
COPY es_map to '/Users/eligiomorales/proyectos_portafolio/undp-labs-project/clean data/es_mapping.csv' csv header;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
359 rows affected.

[]

In [93]:
%%sql 
COPY link_img to '/Users/eligiomorales/proyectos_portafolio/undp-labs-project/clean data/link_img.csv' csv header;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
560 rows affected.

[]

In [94]:
%%sql 
COPY rgb to '/Users/eligiomorales/proyectos_portafolio/undp-labs-project/clean data/rgb.csv' csv header;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
92 rows affected.

[]

In [96]:
%%sql 
COPY sdg_tags to '/Users/eligiomorales/proyectos_portafolio/undp-labs-project/clean data/sdg_tags.csv' csv header;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
833 rows affected.

[]

In [97]:
%%sql 
COPY solution_img to '/Users/eligiomorales/proyectos_portafolio/undp-labs-project/clean data/solution_img.csv' csv header;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
463 rows affected.

[]

In [98]:
%%sql 
COPY thematic_tags to '/Users/eligiomorales/proyectos_portafolio/undp-labs-project/clean data/thematic_tags.csv' csv header;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
981 rows affected.

[]