In [5]:
%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood
engine = create_engine('postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Respondiendo a preguntas

In [7]:
%%sql --Where are the solutions coming from? What is their distribution per country & per region?
SELECT country, count(*)
FROM es_map
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
10 rows affected.

[('India', 51),
 ('Panama', 28),
 ('Argentina', 27),
 ('Pacific', 22),
 ('Ecuador', 20),
 ('Uganda', 17),
 ('Guatemala', 14),
 ('Ethiopia', 14),
 ('Burkina', 14),
 ('Cameroon', 13)]