In [5]:
%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood
engine = create_engine('postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Respondiendo a preguntas

In [22]:
%%sql --Where are the solutions coming from? What is their distribution per country & per region?
SELECT  country, 
        count(*), 
        round(count(*)::numeric/
                (SELECT count(*) FROM es_map),3) pct
FROM es_map
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
48 rows affected.

[('india', 51, Decimal('0.142')),
 ('panama', 28, Decimal('0.078')),
 ('argentina', 27, Decimal('0.075')),
 ('pacific-fiji', 22, Decimal('0.061')),
 ('ecuador', 20, Decimal('0.056')),
 ('uganda', 17, Decimal('0.047')),
 ('burkina faso', 14, Decimal('0.039')),
 ('guatemala', 14, Decimal('0.039')),
 ('ethiopia', 14, Decimal('0.039')),
 ('syria', 13, Decimal('0.036')),
 ('malaysia', 13, Decimal('0.036')),
 ('cameroon', 13, Decimal('0.036')),
 ('guinea', 10, Decimal('0.028')),
 ('bangladesh', 10, Decimal('0.028')),
 ('zambia', 9, Decimal('0.025')),
 ('malawi', 7, Decimal('0.019')),
 ('egypt', 7, Decimal('0.019')),
 ('sierra leone', 6, Decimal('0.017')),
 ('mexico', 6, Decimal('0.017')),
 ('barbados', 6, Decimal('0.017')),
 ('angola', 5, Decimal('0.014')),
 ('rwanda', 5, Decimal('0.014')),
 ('congo', 5, Decimal('0.014')),
 ('eswatini', 3, Decimal('0.008')),
 ('niger', 3, Decimal('0.008')),
 ('kenya', 2, Decimal('0.006')),
 ('colombia', 2, Decimal('0.006')),
 ('kyrgyzstan', 2, Decimal('0.006')),
 ('zimbabwe', 2, Decimal('0.006')),
 ('lao pdr', 2, Decimal('0.006')),
 ('turkey', 2, Decimal('0.006')),
 ('north macedonia', 2, Decimal('0.006')),
 ('iraq', 2, Decimal('0.006')),
 ('indonesia', 1, Decimal('0.003')),
 ('uruguay', 1, Decimal('0.003')),
 ('azerbaijan', 1, Decimal('0.003')),
 ('mali', 1, Decimal('0.003')),
 ('morocco', 1, Decimal('0.003')),
 ('jordan', 1, Decimal('0.003')),
 ('cambodia', 1, Decimal('0.003')),
 ('tanzania', 1, Decimal('0.003')),
 ('philippines', 1, Decimal('0.003')),
 ('trinidad & tobago (guyana & suriname)', 1, Decimal('0.003')),
 ('lesotho', 1, Decimal('0.003')),
 ('vietnam', 1, Decimal('0.003')),
 ('timor leste', 1, Decimal('0.003')),
 ('algeria', 1, Decimal('0.003')),
 ('ghana', 1, Decimal('0.003'))]

In [12]:
%%sql --Where are the solutions coming from? What is their distribution per country & per region?
SELECT regional_bureau, count(*) number_of_solutions
FROM es_map e
LEFT JOIN rgb r
ON e.country=r.country
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
5 rows affected.

[('RBA', 119), ('RBLAC', 105), ('RBAP', 103), ('RBAS', 25), ('RBEC', 7)]

In [26]:
%%sql --What type of energy source is more prevalent, what is less? Are there differences per region, and why?


SELECT energy_source, count(*)
FROM es_map
GROUP BY 1
ORDER BY 2 desc;--La fuente de energia mas prevaleciente es 'household application' siendo la 'non-renewable' la menos frecuente.

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
11 rows affected.

[('household application', 107),
 ('solar', 93),
 ('thermal', 71),
 ('renewable general', 50),
 ('hydro', 16),
 ('wind', 9),
 (None, 4),
 ('chemical', 3),
 ('mechanical', 3),
 ('non-renewable', 2),
 ('solar / thermal', 1)]

In [ ]:
%%sql --What type of energy source is more prevalent, what is less? Are there differences per region, and why?