In [ ]:
%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood
engine = create_engine('postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood')

## Cleaning

In [ ]:
%%sql
ALTER TABLE IF EXISTS es_map
ADD COLUMN clean_cooking_application_new character varying(5);

In [ ]:
%%sql
UPDATE es_map
SET clean_cooking_application_new = CASE 
                                    WHEN clean_cooking_application IS NULL THEN 'FALSE' ELSE 'TRUE' END;

In [ ]:
%%sql
ALTER TABLE IF EXISTS es_map
ADD COLUMN country character varying(50);

In [ ]:
%%sql
UPDATE es_map
SET country = Trim(SPLIT_PART(mapper, ' ',2))
WHERE mapper LIKE 'Acc%';

In [ ]:
%%sql
UPDATE es_map
SET country = 'India'
WHERE mapper NOT LIKE 'Acc%';

In [ ]:
%%sql
UPDATE es_map
SET purpose_translated = NULL
where purpose_translated = '#VALUE!';

In [ ]:
%%sql
UPDATE es_map
SET solution_diffused_user_feedback_translated = NULL
where solution_diffused_user_feedback_translated = '#VALUE!';

In [13]:
%%sql
UPDATE es_map
SET benchmarks_efficiency_translated = NULL
where benchmarks_efficiency_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
301 rows affected.

[]

In [16]:
%%sql
UPDATE es_map
SET bottlenecks_translated = NULL
where bottlenecks_translated = '#VALUE!';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
0 rows affected.

[]

El campo 'diy_open_source' y 'ip' son campos especiales que mutuamente excluyentes, es decir si uno es TRUE el otro es FALSE. El tercer caso es que el mapper no completara la opcion.

In [17]:
%%sql 
UPDATE es_map
SET diy_open_source = 'TRUE'
WHERE diy_open_source = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
100 rows affected.

[]

In [18]:
%%sql 
UPDATE es_map
SET ip = 'TRUE'
WHERE ip = 'x';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
41 rows affected.

[]

In [19]:
%%sql 
UPDATE es_map
SET diy_open_source = 'FALSE'
WHERE ip = 'TRUE';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
41 rows affected.

[]

In [20]:
%%sql 
UPDATE es_map
SET ip = 'FALSE'
WHERE diy_open_source = 'TRUE';

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
99 rows affected.

[]