In [5]:
%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood
engine = create_engine('postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Respondiendo a preguntas

In [14]:
%%sql --Where are the solutions coming from? What is their distribution per country & per region?
SELECT  country, 
        count(*), 
        round(count(*)::numeric/
                (SELECT count(*) FROM es_map),3) pct
FROM es_map
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
10 rows affected.

[('india', 51, Decimal('0.142')),
 ('panama', 28, Decimal('0.078')),
 ('argentina', 27, Decimal('0.075')),
 ('pacific-fiji', 22, Decimal('0.061')),
 ('ecuador', 20, Decimal('0.056')),
 ('uganda', 17, Decimal('0.047')),
 ('burkina faso', 14, Decimal('0.039')),
 ('guatemala', 14, Decimal('0.039')),
 ('ethiopia', 14, Decimal('0.039')),
 ('syria', 13, Decimal('0.036'))]

In [12]:
%%sql --Where are the solutions coming from? What is their distribution per country & per region?
SELECT regional_bureau, count(*) number_of_solutions
FROM es_map e
LEFT JOIN rgb r
ON e.country=r.country
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
5 rows affected.

[('RBA', 119), ('RBLAC', 105), ('RBAP', 103), ('RBAS', 25), ('RBEC', 7)]

In [ ]:
%%sql --What type of energy source is more prevalent, what is less? Are there differences per region, and why?