In [5]:
%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood
engine = create_engine('postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/undp-viz4socialfgood')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Respondiendo a preguntas

In [27]:
%%sql --Where are the solutions coming from? What is their distribution per country & per region?
SELECT  country, 
        count(*), 
        round(count(*)::numeric/
                (SELECT count(*) FROM es_map),3) pct
FROM es_map
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
10 rows affected.

[('india', 51, Decimal('0.142')),
 ('panama', 28, Decimal('0.078')),
 ('argentina', 27, Decimal('0.075')),
 ('pacific-fiji', 22, Decimal('0.061')),
 ('ecuador', 20, Decimal('0.056')),
 ('uganda', 17, Decimal('0.047')),
 ('burkina faso', 14, Decimal('0.039')),
 ('guatemala', 14, Decimal('0.039')),
 ('ethiopia', 14, Decimal('0.039')),
 ('cameroon', 13, Decimal('0.036'))]

In [12]:
%%sql --Where are the solutions coming from? What is their distribution per country & per region?
SELECT regional_bureau, count(*) number_of_solutions
FROM es_map e
LEFT JOIN rgb r
ON e.country=r.country
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
5 rows affected.

[('RBA', 119), ('RBLAC', 105), ('RBAP', 103), ('RBAS', 25), ('RBEC', 7)]

In [57]:
#### What type of energy source is more prevalent, what is less? Are there differences per region, and why?

In [26]:
%%sql --What type of energy source is more prevalent, what is less? Are there differences per region, and why?


SELECT energy_source, count(*)
FROM es_map
GROUP BY 1
ORDER BY 2 desc;--La fuente de energia mas prevaleciente es 'household application' siendo la 'non-renewable' la menos frecuente.

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
11 rows affected.

[('household application', 107),
 ('solar', 93),
 ('thermal', 71),
 ('renewable general', 50),
 ('hydro', 16),
 ('wind', 9),
 (None, 4),
 ('chemical', 3),
 ('mechanical', 3),
 ('non-renewable', 2),
 ('solar / thermal', 1)]

In [29]:
%%sql --What type of energy source is more prevalent, what is less? Are there differences per region, and why?



SELECT energy_source, regional_bureau rgb, count(*) number_of_solutions
FROM es_map e
LEFT JOIN rgb r
ON e.country=r.country
GROUP BY 1,2
ORDER BY 3 DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
10 rows affected.

[('household application', 'RBAP', 43),
 ('household application', 'RBA', 39),
 ('solar', 'RBLAC', 31),
 ('solar', 'RBAP', 29),
 ('thermal', 'RBA', 28),
 ('thermal', 'RBLAC', 25),
 ('solar', 'RBA', 22),
 ('renewable general', 'RBA', 20),
 ('household application', 'RBLAC', 19),
 ('renewable general', 'RBLAC', 17)]

###### La region AP se identifico una prevalencia de la energy soruce de 'household application'. Mientras que solar y thermal con una apacicion importnate pero en menor medida. Con un patron similar se encuentra la region Africana. Donde la de mayor frecuencia es 'household application' y en menor medida las energia solar y thermica. 
##### Sin embargo, la zona Latinoamerica, se encontro una prevalencia distinta, donde la energia solar tiene una prevalencia mayor, siendo la 'household application' la tercera de mayor frecuencia.

#### --What are global commonalities across solutions; what are typical applications & use cases for solutions? Are there patterns that emerge when looking at the distribution per country & per region?

In [31]:
%%sql 

CREATE TEMPORARY TABLE IF NOT EXISTS word_count_title AS

(with cte AS (SELECT country, unnest(
			string_to_array(
					lower(
						title_translated), ' ')) word 
						FROM es_map)

SELECT country, word, count(*) n
FROM cte
WHERE word NOT IN ('and','for','-','in','from','the','a','to','of','with','by','your','into', '&','that','be', 'is',
                   'it','on','has','as','this','an','can','he','at','are','which','we','so','out','they','or','will',
                   'also','these','its','only', 'not','was','his','their','i')
GROUP BY 1,2
HAVING count(*) >=3
ORDER BY 1,3 desc);

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
43 rows affected.

[]

In [33]:
%%sql

WITH cte AS (
SELECT  country, 
        word, 
        ROW_NUMBER() OVER(PARTITION BY country ORDER BY n desc)
FROM word_count_title
GROUP BY 1,2,n)


SELECT  word, 
        count(*)
FROM cte
WHERE row_number <=3 
GROUP BY 1
ORDER BY 2 desc
LIMIT 10;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
10 rows affected.

[('solar', 9),
 ('energy', 4),
 ('solar-powered', 2),
 ('stove', 2),
 ('modified', 1),
 ('briquettes', 1),
 ('plant', 1),
 ('power', 1),
 ('ecoandina', 1),
 ('bangladesh', 1)]

In [34]:
%%sql

CREATE TEMPORARY TABLE IF NOT EXISTS word_count_purpose AS

(WITH cte AS (
    SELECT 
        country, 
        unnest(
		string_to_array(
			lower(
				purpose_translated), ' ')) word 
	FROM es_map)

SELECT   country, 
         word, 
         count(*) n
FROM cte
WHERE word NOT in ('and','for','-','in','from','the','a','to','of','with','by','your','into', '&',
                   'that','be', 'is','it','on','has','as','this','an','can','he','at','are','which','we',
                   'so','out','they','or','will','also','these','its','only', 'not','was','his','their','i')
GROUP BY 1,2
HAVING count(*) >=5
ORDER BY 1,3 desc);

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
648 rows affected.

[]

In [39]:
%%sql

with cte AS (
			SELECT 
				country, 
				word, 
				ROW_NUMBER() OVER(PARTITION BY country ORDER BY n desc)
			FROM word_count_purpose
			GROUP BY 1,2,n)


SELECT word, count(*)
from cte
where row_number <=3 
group by 1
order by 2 desc
LIMIT 10;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
10 rows affected.

[('energy', 11),
 ('solar', 10),
 ('water', 7),
 ('power', 4),
 ('electricity', 3),
 ('system', 2),
 ('through', 2),
 ('', 2),
 ('solution', 2),
 ('cooking', 2)]

#### Which Sustainable Development Goals are the solutions advancing in particular, and how?

In [56]:
%%sql


WITH cte AS (
SELECT  tag, 
        count(*),
        count(*)::numeric /(SELECT count(*) FROM sdg_tags) pct
FROM sdg_tags
GROUP BY 1
ORDER BY 2 DESC)

SELECT  tag,
        SUM(pct) OVER(ORDER BY pct DESC)
FROM cte
LIMIT 10;

 * postgresql://postgres:***@localhost/undp-viz4socialfgood
10 rows affected.

[(7, Decimal('0.33973589435774309724')),
 (11, Decimal('0.46578631452581032413')),
 (9, Decimal('0.57743097238895558223')),
 (13, Decimal('0.68187274909963985594')),
 (12, Decimal('0.76710684273709483793')),
 (3, Decimal('0.81032412965186074429')),
 (10, Decimal('0.85234093637454981992')),
 (2, Decimal('0.88355342136854741896')),
 (1, Decimal('0.91236494597839135654')),
 (8, Decimal('0.93877551020408163265'))]